.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #898989; /* 푸터 배경색 */
    padding: 10px 20px; /* 푸터 패딩 */
}

.footer-icons {
    display: flex;
    gap: 10px; /* 아이콘 간격 */
}

.icon {
    width: 30px; /* 아이콘 크기 */
    height: 30px;
    background-color: white; /* 아이콘 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.footer-text {
    display: flex;
    align-items: center;
    color: white; /* 텍스트 색상 */
    font-size: 24px; /* 텍스트 크기 */
    font-weight: bold;
}

.footer-image {
    width:30px;
    height: auto;
    margin: -4px -7px -5px -4px;
}
