/* Hero 섹션 스타일 */
.hero {
    background-color: #487EDE; /* Hero 섹션 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 50px;

}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-size:30px;
    margin: 0;
}

h3 {
    font-size: 20px;
}

.hero-image {
    align-items: center;
    width: 130px;
    height: auto;
    margin:-25px;
    padding: 0;
}

.highlight1 {
    color: #F4A8D7;
}

.hero-button {
    background-color: white;
    color: #487EDE;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 13px;
}

.hero-button:hover {
    background-color: #e6c545;
}
