/* Hero 섹션 스타일 */
.hero {
    background-color: #1f4cff; /* Hero 섹션 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 20px;
}

.highlight1 {
    color: #F7DA4A;
}

.hero-button {
    background-color: white;
    color: #1f4cff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #e6c545;
}
